<h1><%= @house.name %></h1>
  <p>
    <strong>Points: </strong>
    <%= @house.points%>
  </p>

<h2> Students in House <%= @house.name%> </h2>
<% if @house.students.empty? %>
  <p> There are no students in this house.</p>
<%else%>
<ul>
  <% @house.students.each do |student| %>
    <li><%= link_to student.name, student %></li>
  <% end %>
</ul>
<% end %>

<p>
  <%= link_to 'Home', root_path %>
</p>